*{
    margin: 0;
    padding: 0;
}


/* #button{
           border:none;
                    outline:none;
                    width:60px;
                    height:60px;
                  font-size: 16px;
                  background-color: red;
} */
